# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Poetry
.poetry/
poetry.lock

# Database
*.sqlite
*.sqlite3
*.db

# Logs
logs/
*.log

# Flask
instance/
.webassets-cache
.env

# OS
.DS_Store
Thumbs.db